.box-loading {
    margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #2a2952;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%);
}

.spinner-grow{
    color: #fff !important;
    margin: 1.5rem !important;
}

.text-primary {
    animation-delay: 0.1s !important; 
    width: 2rem ;   
}

.text-success {
    animation-delay: 0.2s !important;
}

.text-info{
    animation-delay: 0.3s !important;
}

.text-warning{
    animation-delay: 0.4s !important;
}

.text-danger {
    animation-delay: 0.5s !important;
}